[submodule "hf_transformers"]
	path = hf_transformers
	url = https://github.com/huggingface/transformers.git
[submodule "hf_datasets"]
	path = hf_datasets
	url = https://github.com/huggingface/datasets.git
